@import url("https://fonts.googleapis.com/css?family=Open+Sans:600|Prata");
* {
  box-sizing: border-box;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif; }

body {
  font-family: "Prata", serif; }

.center {
  text-align: center; }

.hidden {
  display: none; }

main h1 {
  font-size: 2.2em;
  padding: .5em 1.5em 1.5em 1.5em;
  margin: .5em;
  font-family: "Prata", serif;
  text-transform: uppercase; }
main:before {
  display: block;
  width: 100%;
  height: 50px;
  z-index: -1;
  content: ' ';
  background: url("./cookie_1f36a.png") 0 -50px repeat-x;
  background-size: 105px; }

.all-stores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 80px; }
  .all-stores .store {
    margin: .5em;
    padding: 2em;
    flex-basis: 40%;
    background: rgba(255, 255, 255, 0.5); }
  .all-stores h3 {
    font-size: 1.4em;
    line-height: 2;
    margin-bottom: 10px; }
  .all-stores .your-store-items {
    margin: 1.1em 0;
    color: rgba(0, 0, 0, 0.6);
    font-family: "Open Sans", sans-serif;
    font-size: small; }
  .all-stores .store-items {
    margin-bottom: 1.1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .all-stores .store-items > p {
      background: #ffffff;
      padding: .5em;
      margin: .2em .1em;
      box-shadow: 5px 5px 0 #b4e7f8;
      -moz-box-shadow: 5px 5px 0 #b4e7f8;
      -webkit-box-shadow: 5px 5px 0 #b4e7f8; }
  @media screen and (max-width: 720px) {
    .all-stores {
      margin-bottom: 160px; }
    .all-stores .store {
      flex-basis: 100%; } }

footer {
  width: 100%;
  padding: 1.5em;
  position: fixed;
  bottom: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background: white; }
  footer form {
    display: inline-flex;
    align-items: center; }
  footer fieldset {
    margin: 0 .5em; }
  footer input {
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important; }
  footer input[type='submit'] {
    font-family: "Prata", serif;
    background: #ffffff;
    border: 2px solid #b4e7f8;
    padding: .5em 1em;
    transition: background 1.5s; }
    footer input[type='submit']:hover, footer input[type='submit']:active {
      background: #b4e7f8; }
    footer input[type='submit']:active {
      color: #ffffff;
      transform: scale(0.96); }
  @media screen and (max-width: 720px) {
    footer form {
      display: block;
      text-align: center; }
    footer fieldset {
      margin: 0 .5em .5em .5em; }
      footer fieldset input {
        width: 100%; } }

canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; }

.backup-fill {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23dddddd' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E"); }

/*# sourceMappingURL=style.css.map */
